/*
    Color Palette:
    PRI: #FF5656 (Red)
    SEC: #EDF2F6 (White)
    TER: #6A7EFC (Blue)
    NEG:(Black #1a1918) 
*/

#title {
    background-color: blue;
}

body {
    background-color: black;
    margin: 0px;
    text-align: center;
}

p {
    color: #EDF2F6;
}

hr {
    border-style: none;
}