
/* 
    Color Palette:
    PRI: #FF5656 (Red)
    SEC: #EDF2F6 (White)
    TER: #6A7EFC (Blue)
    NEG:(Black #1a1918) 
*/

/* Title Section */
#title-left {
    background-color: black;
}
#title-right {
    position: relative;
    text-align: center;
    padding-top: 5%;
}

#homeLogo {
    width: 150%;
}

/* About Section */
#about-section {
    background-color: blanchedalmond;
}
#about-text {
    text-justify: distribute;
    color: #1a1918;
    font-size: 3vw;
}
#home-join:hover {
    background-color: red;
}
#home-directory:hover {
    background-color: yellow;
}


/* Home Screen Window Divs */
/*
.col-md-4 {
    background: #cccccc;
    background-position: center;
    background-size: cover;
    height: 25rem;
    text-align: center;
}
#nonprofit-window {
    background-image: url();
}
#barbershop-window {
    background-image: url(../Images/IMG_6935.jpg);
}
#clothing-window {
    background-image: url();
}

/* Embedded Podcast */
/*
#podcast {
    background-color: #1a1918;
}

/* About/Contact Page */
/*
.about-contact {
    background-color: blanchedalmond;
}

/* Footer/Legal */
/*
.footer-legal {
    text-decoration-color: blanchedalmond;
}
*/
/* Global */
.container-fluid {
    padding: 3% 10% 10% 10%;
}
#window-link {
    text-decoration: none;
    color: blanchedalmond;
    display: flex;
    align-items: center;
    vertical-align: middle;
    position: relative;
}
a {
    text-decoration: none;
    color: #1a1918;
    font-family: 'Jura', sans-serif;
}
a:hover {
    color: blanchedalmond;
}
body {
    font-family: 'Gruppo', cursive;
    background-color: black;
    margin: 0px;
    text-align: center;
}

p {
    color: #EDF2F6;
}

hr {
    border-style: none;
}